   body {
       font-family: 'Montserrat', sans-serif;
       text-align: center;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'montserrat';
   }
   
   h2 {
       font-size: 3rem;
       line-height: 1.5;
       font-weight: bold;
   }
   
   #title {
       background-color: #ff4c68;
       text-align: left;
   }
   
   #title .container-fluid {
       padding-top: 3%;
   }
   
   #title h1 {
       font-size: 3.5rem;
       line-height: 1.5;
       font-weight: 900;
   }
   
   .container-fluid {
       padding: 7% 15%;
   }
   
   .navbar-brand {
       font-family: 'Ubuntu';
       font-weight: bold;
       font-size: 2.5rem;
   }
   
   .navbar {
       padding: 0 0 4.5rem;
   }
   
   .nav-item {
       padding: 0 18px;
   }
   
   .download-button {
       margin: 5% 3% 5% 0;
   }
   /* title image */
   
   .title-image {
       width: 60%;
       transform: rotate(25deg);
       position: absolute;
       right: 30%;
   }
   /* feature*/
   
   #features,
   #footer {
       background-color: #fff;
   }
   
   #features {
       position: relative;
   }
   
   .feature-icon {
       color: #ef8172;
   }
   
   .feature-container i:hover {
       color: #ff4c88;
   }
   
   .feature-container {
       padding: 5%;
   }
   
   .feature-container h3 {
       font-size: 1.5rem;
       font-weight: 700;
   }
   
   .feature-container p {
       color: #8f8f8f;
   }
   /* testimonilas section */
   
   #testimonials,
   #cta,
   #title {
       color: #fff;
   }
   
   .testimonial-image {
       width: 10%;
       border-radius: 100%;
       margin: 20px;
   }
   /* press section */
   
   #press,
   #testimonials {
       background-color: #ef8172;
   }
   
   .press-logo {
       width: 15%;
       margin: 3% 3% 5%;
   }
   /* princing section */
   
   .pricing-column {
       padding: 3% 2%;
   }
   
   #cta {
       background-color: #ff4c68;
   }
   
   .cta-h3 {
       font-weight: 900;
       font-size: 3.5rem;
       line-height: 1.5;
   }
   
   .cta-button {
       margin: 3% 1%;
   }
   
   #footer {
       padding: 4%;
   }
   
   .footer-icon {
       padding: 15px;
   }
   
   @media only screen and (max-width: 1000px) {
       .title-image {
           transform: rotate(0deg);
           position: static;
           text-align: center;
       }
       #title {
           text-align: center;
       }
       .title-heading {
           line-height: 1.5;
           font-weight: 700;
           font-size: 2rem;
       }
   }